.facts-title{
    position: absolute;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    font-family: Arial, sans-serif;
    width: 100%;    
    margin-top: -455px; 
}

.containerFacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    margin-top: 100px;
}

.cardContainerFacts{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 1400px;
    height: 800px;  
    margin: 0 auto; 
    padding: 50px;
}

.cardFacts{
    padding: 20px 20px 40px;    
    margin-bottom: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
    align-items: center;
}

.columnFacts{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        text-align: left;
}
.columnFacts1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    text-align: right;
}


.imgDimens{
        width: auto;
        height: 700px;
        margin-top: 90px;
}

.Heading{
    color: #344054;
    font-family: Lufga;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    letter-spacing: -0.6px;
}
.aligning{
    margin-top: 125px;
}

.subHeading{
    color: #98A2B3;
font-family: Lufga;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 24px */
letter-spacing: -0.36px;
margin-top: -35px;
}